<div class="select-course-content select-dash-enroll">
  <h2 class='learn'>What I'm Learning</h2>
  <% current_user.enrolled_courses.each do |course| %>
      <div class='course-item'>
      <h3><%= link_to course.title, course_path(course) %></h3>
      <% if course.image.present? %>
          <%= image_tag course.image, class: 'course-img' %>
      <% else %>
          <%= image_tag 'default.png', class: 'course-img' %>
      <% end %>
      <div class="course-description">
        <p><%= course.description %></p>
      </div>
      <div class="col-12 col-sm-4 text-center">
        <%= link_to "More Info...", course_path(course), class: 'dash-btn btn btn-lg btn-primary' %>
      </div>
      </div>
  <% end %>
</div>

<div class="select-course-content select-dash-teach">
  <h2 class='learn'>What I'm Teaching</h2>
  <% current_user.courses.each do |course| %>
      <div class='course-item'>
      <h3><%= link_to course.title, course_path(course) %></h3>
      <% if course.image.present? %>
          <%= image_tag course.image, class: 'course-img' %>
      <% else %>
          <%= image_tag 'default.png', class: 'course-img' %>
      <% end %>
      <div class="course-description">
        <p><%= course.description %></p>
      </div>
      <div class="col-12 col-sm-4 text-center">
        <%= link_to "More Info...", course_path(course), class: 'dash-btn btn btn-lg btn-primary' %>
      </div>
      </div>
  <% end %>
</div>


