<div class="synopsis">
  <h1><%= @course.title %></h1>
  <div class="description">
    <p>
      <%= @course.description %>
      <br>
      <span>Created by <%= @course.user.email %></span>
    </p>
  </div>
</div>
<!-- Course description ^^ -->

<!-- Course info -->
<section class='course-body'>
  <div class='course-info'>
    <% if @course.image.present? %>
        <%= image_tag @course.image, class: 'course-img' %>
    <% else %>
        <%= image_tag 'default.png', class: 'course-img' %>
    <% end %>
      
      <% if current_user && current_user == @course.user %>
        <div class="admin-btn">
          <%= link_to 'Administrator', instructor_course_path(@course), class: 'admin-btn-text btn btn-danger btn-large' %>
        </div>
        <% elsif current_user.enrolled_in?(@course) %>
          <h3 class="badge badge-info">You Are Enrolled!</h3>
          <!-- Course information goes here -->
        <% elsif current_user && @course.free? %>
          <%= link_to 'Enroll', course_enrollments_path(@course), class: 'enroll btn btn-primary', method: :post %>
          <span class='money-back'>30 Day Money-Back Guarantee</span>
          <h3>Includes: </h3>
            <ul class='includes'>
              <li>34.5 hours on-demand video</li>
              <li>Full lifetime access</li>
              <li>Certificate of Completion</li>
            </ul>
        <% elsif current_user && @course.premium? %>
            <p>$<%= @course.cost.to_i %></p>
            <span class='money-back'>30 Day Money-Back Guarantee</span>
            <h3>Includes: </h3>
            <ul class='includes'>
              <li>34.5 hours on-demand video</li>
              <li>Full lifetime access</li>
              <li>Certificate of Completion</li>
            </ul>
            <%= form_tag course_enrollments_path(@course) do %>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-email="<%= current_user.email %>"
                data-description="<%= @course.title %> (<%= number_to_currency @course.cost %>)"
                data-amount="<%= (@course.cost * 100).to_i %>"
                data-locale="auto">
              </script>
            <% end %>
          <% else %>
          <h3 class="badge badge-info"><%= link_to 'Sign In to Enroll!', new_user_session_path %></h3>
        <% end %>    
    </div>
  </div>
  <!-- Course info end -->
  
  <section class="curriculum ">
    <h2>Curriculum For This Course</h2>
    <% @course.sections.each do |section| %>
      <div class="section">
        <h3 class='section-title'><%= section.title %></h3>
        <div>
          <% section.lessons.rank(:row_order).each do |lesson| %>
            <div class='lesson-title'>
              <i class="fa fa-play-circle"></i>
              <%= link_to lesson.title, lesson_path(lesson), class: 'lesson-link' %> 
             
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </section>
  
</section>