<!DOCTYPE html>
<html>
  <head>
    <title>Flixter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='flex-content-container'>
       <%= render 'shared/nav' %>
       <%= render 'shared/alert' %>
       <%= yield %>
    </div>
    <footer>
      <div class='container'>
        <b>Teachers</b>
        <br>
        <%= link_to 'Teach a Course', new_instructor_course_path %>
      </div>
    </footer>
  </body>
</html>
